/* Copyright 2018 Google LLC.
SPDX-License-Identifier: Apache-2.0 */

/* CSS files add styling rules to your content */

body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    background: lightgrey;
  }
  .mainChart{
    height: 350px;
    color: red;
    background-color: white;
    padding: 10px;
  }
  .heading{
      display:Grid;
      justify-content: center;
      grid-template-rows: 1fr;
  }
  .pagelayout{
      display: Grid;
      grid-template-columns: .01fr 4fr 1fr;
      grid-template-rows: 2.5fr 2fr;
      gap: 20px;
  }
  .container {
    display: grid;
    grid-template-rows: repeat(10,2em);
    grid-template-columns: 10em repeat(12, 1fr);
    gap: 0px;
    background-color: white;
    padding: 10px;
  }
  .promoBoard {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
    background-color: white;
    padding: 10px;
  }
   .box {
    border: 1px dotted lightgrey;
    background-color: white;
   
    margin: 0;
    cursor: move;
  }
  .box.over {
    border: 3px dotted #666;
  
  }
  .boxheading{
    padding-top: .5em;
  }
  .promoBox {
    border: 2px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
  [draggable] {
    user-select: none;
  }